<h2 class="nav-tab-wrapper">
  <span>WP Imgur</span>
  {{view 'tabbar'
    content=pages.labels
    selectedIndex=pages.selectedPage
    lockEnabled=pages.lockEnabled }}
  <span class='attribution'>{{t 'credits.tagline' tagName='span' }}<a
  href="http://imgur.com">Imgur.com</a></span>
</h2>

{{notice-bar}}
{{ outlet }}
