<h2 class="nav-tab-wrapper">
  <span>WP Imgur</span>
  {{view 'tabbar'
    content=pages.labels
    selectedIndex=pages.selectedPage
    lockEnabled=pages.lockEnabled }}
</h2>

{{notice-bar}}
{{ outlet }}
