<div class="sync">
  {{#if active}}
    <p>
    Please wait while your Media is Synched to Imgur.com servers. This
    may take a few minutes depending on the size of your Media Library ...
    </p>
  {{else}}
    <p>
    Uploads your Media Library to Imgur.com. You only need to do this
    the first time that you install WP-Imgur. All subsequent media uploads
    are sent to the Imgur.com servers when you upload images via the Media
    Uploader.
    </p>
  {{/if}}
  {{wp-progress-button
    startAction='startSync'
    stopAction='stopSync'
    startLabel='Start Sync'
    stopLabel='Stop Sync'
    progress=progress
    started=active
   }}
   <img {{ bind-attr src=current.thumbnail }} {{ bind-attr class='active:sync-thumb:hide' }}/>
</div>

