<p>WP Imgur is authorized to upload images to your <a
href="http://imgur.com">Imgur</a> account in <em>{{ config.uploadMode }}</em> mode</a>.</p>
{{wp-button action='openAuthorizeUrl' label='Reauthorize'}}
