<p>Before you begin using WP Imgur, you need to grant it permissions
to upload media to your Imgur Account. Click the <em>authorize</em> button to
proceed.</p>
<button class="button button-primary button-large"
{{action 'openAuthorizeUrl'}}>Authorize</button>

