<div class="auth-verify-pin">
  <p>A new window will have opened where you can obtain your Imgur PIN. <a
  target="_blank" {{bind-attr href="authorizeUrl"}}>Click here</a> if the
  window did not open.</a></p>
  <p>
  Copy the Imgur PIN into the input below and click <em>Verify PIN</em>.
  </p>

  {{#form-for this}}
    <table class="form-table">
      <tbody>
      {{input pin wrapper='wp-input' placeholder="Imgur PIN" }}
      </tbody>
    </table>
    <p class="submit">
      {{wp-button type="primary" action="verifyPin" label="Verify PIN"}}
    </p>
  {{/form-for}}
</div>
