language: php

php:
  - 5.3
  - 5.4
  - 5.5

env:
  - WP_VERSION=latest WP_MULTISITE=0
  - WP_VERSION=3.9 WP_MULTISITE=0

install:
  - composer install

before_script:
  - bash bin/install-wp-tests.sh wordpress_test travis ''  localhost $WP_VERSION

script:
  - ./vendor/bin/phpunit --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
