<div class="wp-button">
  <button
    {{ bind-attr class=buttonClassList }}
    {{ action 'buttonClick' this }}
  >{{ label }}</button>
  <span
    {{ bind-attr class=spinnerClassList }}>&nbsp;</span>
</div>
