<tr>
  <th scope="row">
    {{label-field propertyBinding="view.property" textBinding="view.label"}}
  </th>
  <td>
    {{input-field propertyBinding="view.property" inputOptionsBinding="view.inputOptionsValues"}}
    {{error-field propertyBinding="view.property"}}
  </td>
</tr>
