<div class="wrap">
  <h2>WP Imgur Settings</h2>
  <div id="wp-imgur">
    <div id="message" class="updated progress static-notice">
      <p>
        <strong>Loading Settings ...</strong>
      </p>
    </div>
  </div>
</div>

<!--
<script type="text/x-handlebars" data-template-name="components/notice-bar">
  {{#if notice.available }}
    <div id="message" {{bind-attr class=notice.cssClass }}>
      {{#each notice.messages}}
        <p>
          <strong>{{ this }}</strong>
        </p>
      {{/each}}
    </div>
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="wp-input">
  <tr>
    <th scope="row">
      {{label-field propertyBinding="view.property" textBinding="view.label"}}
    </th>
    <td>
      {{input-field propertyBinding="view.property" inputOptionsBinding="view.inputOptionsValues"}}
      {{error-field propertyBinding="view.property"}}
    </td>
  </tr>
</script>

<script type="text/x-handlebars" data-template-name="application">
  {{notice-bar notice=notice}}
  {{ outlet }}
</script>

<script type="text/x-handlebars" data-template-name="loading">
</script>

<script type="text/x-handlebars" data-template-name="authorize">
  {{#form-for this}}
    <p class="submit">
      <a target='_blank' class="button button-primary" {{action 'authorizeStart'}}>Authorize</a>
    </p>
  {{/form-for}}
</script>

<script type="text/x-handlebars" data-template-name="verifyPin">
  {{#form-for this}}
    <table class="form-table">
      <tbody>
      {{input pin wrapper='wp-input' label="Enter Imgur PIN"}}
      </tbody>
    </table>
    <p class="submit">
      <button class="button button-primary" {{action 'verifyPin'}}>Verify PIN</button>
    </p>
  {{/form-for}}
</script>

<script type="text/x-handlebars" data-template-name="sync">
  <p class="submit">
    {{#if isActive}}
      <button class="button button-primary" {{action 'stopSync'}}>Stop Sync</button>
      <strong>&nbsp;{{ percentComplete }} %</strong>
      {{#if thumbnail}}
      <p class="submit">
        <img {{bind-attr src=thumbnail}} class="imgur-thumb">
      </p>
      {{/if}}
    {{else}}
      <button class="button button-primary" {{action 'startSync'}}>Start Sync</button>
    {{/if}}
  </p>
</script>
-->
